<html>

<head>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/lodash/lodash.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div id="app" v-cloak class="container">
        <div class="row">
            <div class="col-sm-12">
                <select v-model="sampleSize" v-on:change="reSample">
                    <option selected>15</option>
                    <option>23</option>
                    <option>70</option>
                </select>
                <span>Selected: {{ sampleSize }}</span>
                <div>
                    <ul v-if="matches.length > 0">
                        test
                        <li v-for="match in matches">
                            {{match.name}} - {{match.db}}
                        </li>
                    </ul> 
                </div>
                <ul v-if="birthdays.length > 0">
                    <li v-for="bd in birthdays">
                        {{ bd.name }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>